.backgroundPic {
    padding-top: 400px;
    background-image: url('https://cutewallpaper.org/21/wallpaper-hd-pokemon/Pokemon,-HD-Cartoons,-4k-Wallpapers,-Images,-Backgrounds-.jpg');
    background-size: 100% 100%;
}

.content {
    color: white;
    position: relative;
    top: -175px;
}